/* General*/

body {
    background-color: rgb(19, 18, 18);
}
.titulo{
    text-align: center;
    color: lightyellow;
    font-size: 50px;
}


/* login*/

.img-container{
    margin-left: 350px;
    margin-top: 150px;
}

.container-login{
    text-align: center;
    margin-left: 400px;
    color: white;
}

.logo{
    position: center;
}

/* inicio*/
.img-header{
    margin-left: 350px;
    height: 100%;
}

.img-navbar{
    width: 50px;
    border-radius: 50px;
}

.container-body{
    background-color: rgb(19, 18, 18);
}

.bienvenida{
    background-color: white;
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
    border-radius: 4px;
}

.description{
    background-color: white;
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 150px;
}

.description-header{
    background-color: black;
    text-align: left;
    border-radius: 4px;
    color: blanchedalmond;
}

.page-footer{
    margin-top: 150px;
    background-color: grey;
}

/* Carga */
.container-carga{
    margin-top: 150px;
    text-align: center;
    margin-left: 400px;
    color: honeydew;
}

.description-carga{
    background-color: white;
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
    border-radius: 4px;
}

/* Canje */

.container-canje{
    margin-top: 150px;
    text-align: center;
    margin-left: 400px;
    color: honeydew;
}



